extends layout

block content
  div.row.mt-3
    div.card.mx-2
      div.card-header.bg-primary.text-white
        h4 LAKITOオープン!
        h4.ml-auto 2018年12月04日(木) 12時04分
      div.card-body.text-center.mt-3
        p 本日オープンします