extends layout

block content
  h2.mt-4: | ヘルプ
  h3.mt-4: | 目次
  ul
    li: a(href="#c-1") LAKITOとは
    li: a(href="#c-2") はじめるためには?
    li: a(href="#c-3") 予約とは?
    li: a(href="#c-4") 利用規約はどこ?
  div.card.mt-3
    div.card-header(id="c-1")
      | LAKITOとは?
    div.card-body
      | よくわかんないです
  div.card.mt-3
    div.card-header(id="c-2")
      | はじめるためには?
    div.card-body
      | なんか登録とかすればいいんじゃないかな
  div.card.mt-3
    div.card-header(id="c-3")
      | 予約とは?
    div.card-body
      | 席をとるってことです
  div.card.mt-3
    div.card-header(id="c-4")
      | 利用規約はどこ?
    div.card-body
      | 下のメニューにあります(もしくは<a href="#">ここ</a>)
  div.card.mt-3
    div.card-header(id="c-5")
      | 退会したいのですが?
    div.card-body
      | マイページの設定変更ページからどうぞ(もしくは<a href="#">ここ</a>)
  div.mt-3