extends layout

block content
  div.row.mt-3
    div.card.w-100.mx-2
      div.card-header.bg-primary.text-white お知らせ一覧
      div.card-body.text-center.w-100
        table.table.table-striped
          thead
            tr
              th タイトル
              th 更新日時
          tbody
            tr
              td: a(href="/announcements/1") LAKITOオープン!
              td 2018年12月04日(木) 12時04分
            tr
              td: a(href="/announcements/1") LAKITOオープン!
              td 2018年12月04日(木) 12時04分
            tr
              td: a(href="/announcements/1") LAKITOオープン!
              td 2018年12月04日(木) 12時04分
            tr
              td: a(href="/announcements/1") LAKITOオープン!
              td 2018年12月04日(木) 12時04分