extends layout

block content
  div(class="container my-5 mx-2")
    div.row
      h2 お問い合わせ
    div.row
      p お問い合わせはXXXで本文記載の上、送信していただくようお願いします
    div.row
      p PDなどでLAKITOを使ってアンケートを取りたい場合はXXXまで本文記載の上、送信していただくようお願いします。
  div(class="mt-2")