extends layout

block content
  div(class="jumbotron mt-3")
    div(class="container")
      h1(class="display-4 text-center") LAKITO
      p(class="lead text-center") より素早く　より使いやすく
  div(class="row")
    div(class="container")
      h2 LAKITOのできること
      hr(class="btn-success")
      div(class="row text-center mx-1")
        div(class="col-sm-4 my-1")
          div(class="card")
            div(class="card-body")
              h5(class="card-title") カードのタイトル
              p(class="card-text") カードのテキスト
              a(href="#" class="btn btn-primary") 1204
        div(class="col-sm-4 my-1")
          div(class="card")
            div(class="card-body")
              h5(class="card-title") カードのタイトル
              p(class="card-text") カードのテキスト
              a(href="#" class="btn btn-primary") 1204
        div(class="col-sm-4 my-1")
          div(class="card")
            div(class="card-body")
              h5(class="card-title") カードのタイトル
              p(class="card-text") カードのテキスト
              a(href="#" class="btn btn-primary") 1204