extends layout

block variables
    - var isLogined = isLogined

block content
  div(class="jumbotron mt-3 bg-header")
    div(class="container")
      h1(class="display-4 text-center") LAKITO
      p(class="lead text-center") 予約で学食をより素早く、よりスムーズに
      div(class="text-center")
        hr(class="btn-warning")
        a(href="/user" class="btn btn-primary") マイページ
  div(class="row")
    div(class="container")
      h2 LAKITOのできること
      hr(class="btn-warning")
      div(class="row text-center mx-1")
        div(class="col-sm-6 my-1")
          div(class="card")
            div(class="card-body")
              h5(class="card-title"): i(class="fas fa-suitcase fa-5x")
              p(class="card-text")
                | 鞄で席取り必要なし！
                | 予約で安心、即注文！
        div(class="col-sm-6 my-1")
          div(class="card")
            div(class="card-body")
              h5(class="card-title"): i(class="fas fa-laugh-beam fa-5x")
              p(class="card-text")
                | 席を探す必要なし！
                | すぐに座ってすぐ食べれる！
  div(class="row my-4")
    div(class="col-12")
      h2 あれ？なんか違う?
      hr(class="btn-warning")
    div(class="col-12")
      h3 もしかして→ #[a(href="#") SAKITO]
  div(class="mt-2")