extends layout

block content
  div(class="container my-5")
    h2.my-5 プライバシーポリシー
    ul
      li: |個人情報保護方針
      ul
        li: 株式会社XXXXXX（以下「当グループ」といいます。）は、当グループの提供するサービス（以下「本サービス」といいます。）における、ユーザーについての個人情報を含む利用者情報の取り扱いについて、以下のとおりプライバシーポリシー（以下「本ポリシー」といいます。）を定めます。
      li: |個人情報の取扱いに関する基本原則
      ul
        li: |適正な取得
          ul
            li: |個人情報はその利用目的をできる限り特定し、原則として本人の同意を得た上で、適法かつ公正な方法で取得します。
        li: |目的外利用の禁止
          ul
            li: |個人情報は、予め特定された利用目的の達成に必要な範囲を超えて利用しないこととし、そのために必要な措置を講じます。
  div(class="mt-2")