extends layout

block content
  script(src="../../scripts/notify.js")
  div.row.mt-3
    div.col
      div.card
        div.card-header.bg-primary.text-white
          h3 予約コード
        div.card-body
          div.container.mt-3
            div.row
              div.col-6.text-center
                h3
                  b ユーザID:
                  p= user_id
              div.col-6.text-center
                h3
                  b 予約ID:
                  p(id="reserveID")= reserve_id
            h2.text-center(style="color:#FF0000;") 座席利用前と利用後に、端末でこのコードをかざしてください
            div.row
              img(src=reserve_qr,style="min-width:60%; height:auto;").img-fluid.mx-auto
  include notify.html
  div.mb-3