extends layout

block content
  if err_type !== undefined
    div.row.mt-3
      div.alert.alert-danger.w-100.alert-block.devise-bs.mx-2
        button(type="button" class="close" data-dismiss="alert") ×
        h5 エラーが発生したためログインできませんでした
        ul: li メールアドレスまたはパスワードが正しくありません
  div.row.mt-3
    div.col
      div.card
        div.card-header.bg-primary.text-white ログイン
        div.card-body
          form(role='form',id="login_user",action="/sign_in",method="post")
            div.form-group
              label(for="account-mail") メールアドレス
              input(id="account-mail" name="account-mail" type="text").form-control
            div.form-group
              label(for="account-passwd") パスワード
              input(id="account-passwd" name="account-passwd" type="password").form-control
            button.btn.btn-success.w-100.mt-4(type="submit") ログイン
  div.row
    a(href="sign_up").mt-5.mx-auto.btn.btn-info 新規会員登録へ
  div(class="mt-2")