extends layout

block content
  div(class="container my-5")
    h2.my-5 利用規約
    ul
      li: |株式会社XXXXXX（以下「当グループ」といいます。）が企画・運営する「LAKITO」（以下「本サービス」）のご利用を希望される場合には、以下の利用規約（以下「本規約」といいます。）に同意していただく必要があります。なお、本サービスの個別のサービス名称が変更される場合であっても、本規約の適用を受けます。
      ul
        li: |第 1 条（会員）
        ol
          li: |個人情報はその利用目的をできる限り特定し、原則として本人の同意を得た上で、適法かつ公正な方法で取得します。
          li: |個人情報はその利用目的をできる限り特定し、原則として本人の同意を得た上で、適法かつ公正な方法で取得します。
        li: |第 1 条（会員）
        ol
          li: |個人情報はその利用目的をできる限り特定し、原則として本人の同意を得た上で、適法かつ公正な方法で取得します。
          li: |個人情報はその利用目的をできる限り特定し、原則として本人の同意を得た上で、適法かつ公正な方法で取得します。
        li: |第 1 条（会員）
        ol
          li: |個人情報はその利用目的をできる限り特定し、原則として本人の同意を得た上で、適法かつ公正な方法で取得します。
          li: |個人情報はその利用目的をできる限り特定し、原則として本人の同意を得た上で、適法かつ公正な方法で取得します。
  div(class="mt-2")