header
  nav(class="navbar navbar-light bg-light")
    div(class="container")
      a(class="navbar-brand" href="index.html") LAKITO
      div(class="ml-auto")
        a(class="btn btn-md" href="announce.html")
          i(class="fas fa-bell")
      a(href="/user" class="ml-2 btn btn-md btn-primary")
        i(class="fas fa-user") マイページ