extends layout

block content
  div(class="row my-3")
    div(class="col-md-6 my-2")
      div(class="card h-100")
        div(class="d-flex flex-row justify-content-between")
          div(class="p-2 my-auto")
            i(class="fas fa-clock fa-5x")
          div(class="p-2")
            div(class="d-flex flex-column text-right")
              h2 12/04 
              h3 12:50-13:10
              | 予約日
    div(class="col-md-6 my-2")
      div(class="card h-100")
        div(class="d-flex flex-row justify-content-between")
          div(class="p-2 my-auto")
            i(class="fas fa-drumstick-bite fa-5x")
          div(class="p-2")
            div(class="d-flex flex-column text-right")
              h1 0回
              | 注文回数
  div(class="row")
    div(class="col-md-6 my-2")
      div(class="card h-100")
        div(class="card-header") 予約関連
        div(class="card-body")
          div(class="list-group")
            a(class="list-group-item" href="/user/reserve") 予約する
            a(class="list-group-item" href="/user/reserve/code") 予約コード表示
            a(class="list-group-item" href="/user/reserve/status") 予約状態
    div(class="col-md-6 my-2")
      div(class="card h-100")
        div(class="card-header") プロフィール関連
        div(class="card-body")
          div(class="list-group")
            a(class="list-group-item" href="/user/edit") パスワード変更
            a(class="list-group-item" href="/user/sign_out") ログアウト
  div(class="mt-2")